.btn.btn-primary {
  background-color: #ff9a00;
  border: 2px solid #ff9a00;
  border-radius: 10px;
  padding: 10px 50px;
  color: white;
  font-size: 2rem;
}
.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover {
  background-color: transparent;
  border: 2px solid #ff9a00;
  color: #ff9a00;
}

.btn.btn-secondary {
  background-color: transparent;
  border: 2px solid #ff9a00;
  border-radius: 10px;
  padding: 10px 50px;
  color: #ff9a00;
}
.btn.btn-secondary:focus, .btn.btn-secondary:active, .btn.btn-secondary:hover {
  background-color: #ff9a00;
  border: 2px solid #ff9a00;
  color: white;
}

* {
  background-color: #f4f3ee;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.container-principale {
  height: 100vh;
}

.quadrillage {
  display: flex;
}

.case {
  background-color: transparent;
  font-size: 80px;
  height: 150px;
  width: 150px;
  text-align: center;
  border: 0;
  border-right: 2px solid #545454;
  border-bottom: 2px solid #545454;
  cursor: pointer;
}
.case:nth-child(3) {
  border-right: 0;
}

.last-col .case {
  border-bottom: 0;
}

.classement-liste {
  list-style: disclosure-closed;
}

#block-left-top {
  margin-top: 20%;
  margin-left: 25%;
}

#block-left-bottom {
  margin-top: 20%;
  margin-left: 25%;
}

#classement-liste {
  margin-top: 1.75rem;
  line-height: 3rem;
  font-size: 1.75rem;
}

#title-mode {
  margin-bottom: 2rem;
  text-align: justify;
  width: 75%;
}

#buttonMode {
  margin-bottom: -3.75rem;
}