body {
  background-color: #f4f3ee;
}

.case {
  background-color: transparent;
  height: 100px;
  width: 100px;
  border: 0;
}

.aaa {
  background-color: red;
}
.aaa .titlebbb,
.aaa .titleaaa {
  color: green;
}
.aaa .titlebbb:active, .aaa .titlebbb:hover,
.aaa .titleaaa:active,
.aaa .titleaaa:hover {
  color: magenta;
}