.btn.btn-primary {
  background-color: #ff9a00;
  border: 2px solid #ff9a00;
  border-radius: 10px;
  padding: 10px 50px;
  color: white;
}
.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover {
  background-color: transparent;
  border: 2px solid #ff9a00;
  color: #ff9a00;
}

.btn.btn-secondary {
  background-color: transparent;
  border: 2px solid #ff9a00;
  border-radius: 10px;
  padding: 10px 50px;
  color: #ff9a00;
}
.btn.btn-secondary:focus, .btn.btn-secondary:active, .btn.btn-secondary:hover {
  background-color: #ff9a00;
  border: 2px solid #ff9a00;
  color: white;
}

.btn-menu {
  font-size: 2rem !important;
  padding: 8px 90px !important;
}

* {
  background-color: #f4f3ee;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.container-principale {
  height: 100vh;
}

.grille .quadrillage {
  display: flex;
}
.grille .case {
  background-color: transparent;
  font-size: 80px;
  height: 150px;
  width: 150px;
  text-align: center;
  border: 0;
  border-right: 2px solid #545454;
  border-bottom: 2px solid #545454;
  cursor: pointer;
}
.grille .case:nth-child(3) {
  border-right: 0;
}
.grille .last-col .case {
  border-bottom: 0;
}

.modal-content {
  border-radius: 10px !important;
  border: 2px solid #545454 !important;
}
.modal-content .modal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 0;
}
.modal-content .modal-body .card {
  border: 0 !important;
  background-color: transparent !important;
}
.modal-content .modal-body .card input {
  border: 0;
  margin: 10px 0;
  padding: 5px 10px;
  box-shadow: none;
  border: 2px solid #545454;
}
.modal-content .modal-footer {
  border-bottom-left-radius: 10px;
  border: 0;
  border-bottom-right-radius: 10px;
}
.modal-content .modal-footer .btn.ferme {
  margin-right: 15px;
}

.contain {
  margin-left: 25%;
}
.contain #buttonMode button:nth-child(1) {
  margin-right: 15px;
}
.contain #block-left-top {
  margin-bottom: 40px;
}
.contain #block-left-bottom #classement-liste {
  list-style: disclosure-closed;
}

.template-grille {
  height: 100vh;
}

.x {
  color: #ff9a00;
}

.y {
  color: #545454;
}
