@import './pre.scss';


body {
    background-color: $background;
}

.case {
    background-color: transparent;
    height: 100px;
    width: 100px;
    border: 0;
}

#case-1 {
    border-right: 2px solid $body-color;
    border-bottom: 2px solid $body-color;
}
#case-2 {
    border-bottom: 2px solid $body-color;
}
#case-3 {
    border-left: 2px solid $body-color;
    border-bottom: 2px solid $body-color;
}
#case-4 {
    border-right: 2px solid $body-color;
    border-bottom: 2px solid $body-color;
}
#case-5 {
    // border-right: 2px solid $body-color;
    // border-bottom: 2px solid $body-color;
}
#case-6 {
    border-left: 2px solid $body-color;
    border-bottom: 2px solid $body-color;
}
#case-7 {
    border-right: 2px solid $body-color;
}
#case-8 {
    border-top: 2px solid $body-color;
}
#case-9 {
    border-left: 2px solid $body-color;
}