@import './pre.scss';
@import './button.scss';

//ALL
* {
    background-color: $background;
    font-size: $font-base;
    margin: 0;
    padding: 0;
}
.container-principale {
    height: 100vh;
}

//LINE CASE
.quadrillage {
    display: flex;
}

//CHAQUE CASE
.case {
    background-color: transparent;
    font-size: 80px;
    height: 150px;
    width: 150px;

    text-align: center;
    border: 0;
    border-right: 2px solid $body-color;
    border-bottom: 2px solid $body-color;
    cursor: pointer;

    &:nth-child(3) {
        border-right: 0;
    }
}

//3 DERNIER CASE
.last-col .case {
    border-bottom: 0;
}

//LISTE MEILLEUR JOEUR
.classement-liste {
    list-style: disclosure-closed;
}





#block-left-top {
    margin-top: 20%;
    margin-left: 25%;
}



#block-left-bottom {
    margin-top: 20%;
    margin-left: 25%;
}

#classement-liste {
    margin-top: 1.75rem;
    line-height: 3rem;
    font-size: 1.75rem;
}

#title-mode {
    margin-bottom: 2rem;
    text-align: justify;
    width: 75%;
}

#buttonMode {
    margin-bottom: -3.75rem;
}



