@import './pre.scss';
@import './button.scss';

//ALL
* {
    background-color: $background;
    font-size: $font-base;
    margin: 0;
    padding: 0;
}

.containlogo {

    img {
        width: 80%;
        margin-bottom: 30px;
    }
}
.container-principale {
    height: 100vh;
}

//GRILLE JEU
.grille {
    // transform: skew(0deg, 4deg);

    //LINE CASE
    .quadrillage {
        display: flex;
    }

    //CHAQUE CASE
    .case {
        background-color: transparent;
        font-size: 80px;
        height: 150px;
        width: 150px;

        text-align: center;
        border: 0;
        border-right: 2px solid $body-color;
        border-bottom: 2px solid $body-color;
        cursor: pointer;

        &:nth-child(3) {
            border-right: 0;
        }
    }

    //3 DERNIER CASE
    .last-col .case {
        border-bottom: 0;
    }
}




//MODAL
.modal-content {
    border-radius: $border-radius !important;
    border: 2px solid $body-color !important;

    //HEADER
    .modal-header {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        border: 0;
    }

    //BODY
    .modal-body {

        //CARD
        .card {
            border: 0 !important;
            background-color: transparent !important;

            //INPUT
            input {
                border: 0;
                margin: 10px 0;
                padding: 5px 10px;
                box-shadow: none;
                border: 2px solid $body-color;
            }
        }
    }

    //FOOTER
    .modal-footer {
        border-bottom-left-radius: $border-radius;
        border: 0;
        border-bottom-right-radius: $border-radius;

        .btn.ferme {
            margin-right: 15px;

        }
    }
}

//CONTAINER
.contain {
    margin-left: 25%;

    //BTN CHOIX MODE
    #buttonMode button:nth-child(1) {
        margin-right: 15px;
    }

    //BLOCK LEFT TOP
    #block-left-top {
        margin-bottom: 40px;
    }

    //BLOCK LEFT BOTTOM
    #block-left-bottom {

        //LISTE MEILLEUR JOEUR
        #classement-liste {
            list-style: disclosure-closed;
        }
    }
}

.template-grille {
    height: 100vh;
}

//Ajout des couleurs sur les X et O de la grille

.x {
    color: $orange;
}

.y {
    color: $body-color;
}